/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-image: url(http://images2.layoutsparks.com/1/99446/light-blue-plain-paper.jpg);
}

.well {
  border: 1px solid #6fa3c4;
  background-color: #fff;
  box-shadow: none;
}

nav ul {
  background: #5f6975; border-radius: 0px; padding: 0;
  position: absolute; top: 100%;
}
  nav ul li {
    float: none; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
  }
    nav ul li a {
      padding: 15px 40px;
      color: #fff;
    } 
      nav ul li a:hover {
        background: #4b545f;
      }